{
  "openapi": "3.0.0",
  "info": {
    "title": "CBC Aggregate API",
    "description": "CBC Aggregate API.\n",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "email": "apiteam@swagger.io"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0.1-oas3"
  },
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://swagger.io"
  },
  "servers": [
    {
      "url": "https://www.cbc.ca/aggregate_api/v1"
    }
  ],
  "tags": [
    {
      "name": "Top Stories",
      "description": "Top Stories Lineup"
    }
  ],
  "paths": {
    "/items": {
      "get": {
        "tags": [
          "Top Stories"
        ],
        "summary": "Get lineup for CBC News Top Stories lineup",
        "operationId": "getTopStoriesLineup",
        "parameters": [
          {
            "name": "orderLineupId",
            "in": "query",
            "description": "OrderLineupId",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "2.630"
            }
          },
          {
            "name": "categorySet",
            "in": "query",
            "description": "CategorySet",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "cbc-news-apps"
            }
          },
          {
            "name": "typeSet",
            "in": "query",
            "description": "TypeSet",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "cbc-news-apps-feed"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "PageSize",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LineupItemDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid call"
          },
          "404": {
            "description": "Lineup not found"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "LineupItemDto": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Id",
            "format": "int64"
          },
          "title": {
            "type": "string",
            "description": "Story Title"
          },
          "source": {
            "$ref": "#/components/schemas/SourceType"
          },
          "sourceId": {
            "type": "string",
            "description": "Source Id"
          },
          "version": {
            "type": "string",
            "description": "Version"
          },
          "publishedAt": {
            "type": "integer",
            "description": "Published Time",
            "format": "int64"
          },
          "readablePublishedAt": {
            "type": "string",
            "description": "Readable Published Time"
          },
          "updatedAt": {
            "type": "integer",
            "description": "Updated Time",
            "format": "int64"
          },
          "readableUpdatedAt": {
            "type": "string",
            "description": "Readable Updated Time"
          },
          "type": {
            "$ref": "#/components/schemas/LineupItemType"
          },
          "active": {
            "type": "boolean"
          },
          "embedTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LineupItemType"
            }
          },
          "typeAttributes": {
            "$ref": "#/components/schemas/TypeAttributesDto"
          },
          "images": {
            "$ref": "#/components/schemas/ImagesDto"
          },
          "language": {
            "type": "string"
          }
        }
      },
      "ImagesDto": {
        "type": "object",
        "properties": {
          "square_140": {
            "type": "string"
          }
        }
      },
      "TypeAttributesDto": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "urlSlug": {
            "type": "string"
          },
          "deck": {
            "type": "string"
          },
          "imageSmall": {
            "type": "string"
          },
          "imageLarge": {
            "type": "string"
          },
          "imageAspects": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ImageAspectsType"
            }
          },
          "flag": {
            "type": "string"
          },
          "flags": {
            "$ref": "#/components/schemas/FlagDto"
          },
          "displayComments": {
            "type": "boolean"
          },
          "commentsSectionId": {
            "type": "string"
          },
          "trending": {
            "$ref": "#/components/schemas/TrendingDto"
          },
          "mediaDuration": {
            "type": "integer"
          },
          "mediaId": {
            "type": "string"
          },
          "mediaStreamType": {
            "type": "string"
          },
          "mediaCaptionUrl": {
            "type": "string"
          },
          "show": {
            "type": "string"
          },
          "showslug": {
            "type": "string"
          },
          "body": {
            "$ref": "#/components/schemas/BodyDto"
          },
          "sectionList": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "sectionLabels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "categories": {
            "$ref": "#/components/schemas/CategoryDto"
          },
          "contextualHeadlines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContextualHeadlineDto"
            }
          },
          "relatedLinks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RelatedLinkDto"
            }
          },
          "headline": {
            "$ref": "#/components/schemas/HeadlineDto"
          },
          "author": {
            "$ref": "#/components/schemas/AuthorDto"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "language": {
            "type": "string"
          }
        }
      },
      "AuthorDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "containsVideo": {
            "type": "string"
          },
          "containsPhotogallery": {
            "type": "string"
          }
        }
      },
      "BodyDto": {
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean"
          },
          "containsVideo": {
            "type": "boolean"
          },
          "containsPhotogallery": {
            "type": "boolean"
          }
        }
      },
      "CategoryDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "priority": {
            "type": "integer"
          },
          "priorityWhenInlined": {
            "type": "integer"
          },
          "metadata": {
            "$ref": "#/components/schemas/MetadataDto"
          },
          "image": {
            "type": "string"
          },
          "bannerImage": {
            "type": "string"
          }
        }
      },
      "ContextualHeadlineDto": {
        "type": "object",
        "properties": {
          "contextId": {
            "type": "string"
          },
          "contextualLineupSlug": {
            "type": "string"
          },
          "headline": {
            "type": "string"
          }
        }
      },
      "FlagDto": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "label": {
            "type": "string"
          }
        }
      },
      "HeadlineDto": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "mediaId": {
            "type": "string"
          }
        }
      },
      "MetadataDto": {
        "type": "object",
        "properties": {
          "tracking": {
            "$ref": "#/components/schemas/MetadataTrackingDto"
          },
          "attribution": {
            "$ref": "#/components/schemas/MetadataAttributionDto"
          },
          "adHierarchy": {
            "type": "string"
          },
          "polopolyDeptName": {
            "type": "string"
          },
          "polopolyExternalId": {
            "type": "string"
          },
          "orderLineupId": {
            "type": "string"
          },
          "orderLineupSlug": {
            "type": "string"
          },
          "mpxCategoryName": {
            "type": "string"
          },
          "ottTitle": {
            "type": "string"
          },
          "pageTitle": {
            "type": "string"
          },
          "pageDescription": {
            "type": "string"
          }
        }
      },
      "MetadataTrackingDto": {
        "type": "object",
        "properties": {
          "subsection1": {
            "type": "string"
          },
          "subsection2": {
            "type": "string"
          },
          "subsection3": {
            "type": "string"
          },
          "subsection4": {
            "type": "string"
          },
          "contentarea": {
            "type": "string"
          },
          "contenttype": {
            "type": "string"
          }
        }
      },
      "MetadataAttributionDto": {
        "type": "object",
        "properties": {
          "level1": {
            "type": "string"
          },
          "level2": {
            "type": "string"
          },
          "level3": {
            "type": "string"
          }
        }
      },
      "RelatedLinkDto": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "sourceId": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "TrendingDto": {
        "type": "object",
        "properties": {
          "numViewers": {
            "type": "integer"
          },
          "numViewersSRS": {
            "type": "string"
          }
        }
      },
      "ImageAspectsType": {
        "type": "string",
        "enum": [
          "16x9_940",
          "16x9_300",
          "16x9_620",
          "original_620",
          "original_300",
          "16x9tight_140",
          "16x9_460"
        ]
      },
      "LineupItemType": {
        "type": "string",
        "enum": [
          "audio",
          "story",
          "video"
        ]
      },
      "SourceType": {
        "type": "string",
        "enum": [
          "Polopoly"
        ]
      }
    }
  }
}
