{
  "openapi": "3.0.0",
  "info": {
    "title": "CBC Aggregate API",
    "description": "CBC Aggregate API.\n",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "email": "apiteam@swagger.io"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0.4-oas3"
  },
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://swagger.io"
  },
  "servers": [
    {
      "url": "https://www.cbc.ca/aggregate_api/v1"
    }
  ],
  "tags": [
    {
      "name": "Top Stories",
      "description": "Top Stories Lineup"
    }
  ],
  "paths": {
    "/items": {
      "get": {
        "tags": [
          "Top Stories"
        ],
        "summary": "Get lineup for CBC News Top Stories lineup",
        "operationId": "getTopStoriesLineup",
        "parameters": [
          {
            "name": "lineupSlug",
            "in": "query",
            "description": "lineupSlug",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "news"
            }
          },
          {
            "name": "categorySet",
            "in": "query",
            "description": "CategorySet",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "cbc-news-apps"
            }
          },
          {
            "name": "excludeCategorySet",
            "in": "query",
            "description": "excludeCategorySet",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "cbc-news-apps-exclude"
            }
          },
          {
            "name": "typeSet",
            "in": "query",
            "description": "typeSet",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "cbc-news-apps-feed-v2"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "PageSize",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LineupItemDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid call"
          },
          "404": {
            "description": "Lineup not found"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "LineupItemDto": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "sourceId": {
            "type": "string"
          },
          "publishedAt": {
            "type": "number"
          },
          "readablePublishedAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "number"
          },
          "readableUpdatedAt": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "embedTypes": {
            "type": "string"
          },
          "typeAttributes": {
            "$ref": "#/components/schemas/TypeAttributesDto"
          },
          "images": {
            "$ref": "#/components/schemas/ImagesDto"
          }
        }
      },
      "TypeAttributesDto": {
        "type": "object",
        "properties": {
          "components": {
            "$ref": "#/components/schemas/TypeAttributesDto_components"
          }
        }
      },
      "CategoryDto": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/MetadataDto"
          }
        }
      },
      "ContextualHeadlineDto": {
        "type": "object",
        "properties": {
          "contextId": {
            "type": "string"
          },
          "contextualLineupSlug": {
            "type": "string"
          },
          "headline": {
            "type": "string"
          }
        }
      },
      "DerivativesDto": {
        "type": "object",
        "properties": {
          "size_16x9_620": {
            "$ref": "#/components/schemas/DerivativesDto_size_16x9_620"
          }
        }
      },
      "ImagesDto": {
        "type": "object",
        "properties": {
          "square_140": {
            "type": "string"
          }
        }
      },
      "MainContentTypeAttributesDto": {
        "type": "object",
        "properties": {
          "contextualHeadlines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContextualHeadlineDto"
            }
          },
          "flag": {
            "type": "string"
          },
          "imageLarge": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "mediaDuration": {
            "type": "integer"
          },
          "mediaStreamType": {
            "type": "string"
          },
          "categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CategoryDto"
            }
          }
        }
      },
      "MetadataDto": {
        "type": "object",
        "properties": {
          "tracking": {
            "$ref": "#/components/schemas/MetadataTrackingDto"
          },
          "orderLineupSlug": {
            "type": "string"
          }
        }
      },
      "MetadataTrackingDto": {
        "type": "object",
        "properties": {
          "subsection1": {
            "type": "string"
          },
          "subsection2": {
            "type": "string"
          },
          "subsection3": {
            "type": "string"
          },
          "subsection4": {
            "type": "string"
          },
          "contentarea": {
            "type": "string"
          },
          "contenttype": {
            "type": "string"
          }
        }
      },
      "PrimaryContentDto": {
        "type": "object",
        "properties": {
          "flag": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "sourceId": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "embedTypes": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "PrimaryDto": {
        "type": "object",
        "properties": {
          "localheadline": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "content": {
            "$ref": "#/components/schemas/PrimaryContentDto"
          }
        }
      },
      "TypeAttributesDto_components_mainContent": {
        "type": "object",
        "properties": {
          "source": {
            "type": "string"
          },
          "sourceId": {
            "type": "string"
          },
          "typeAttributes": {
            "$ref": "#/components/schemas/MainContentTypeAttributesDto"
          },
          "type": {
            "type": "string"
          },
          "embedTypes": {
            "type": "string"
          }
        }
      },
      "TypeAttributesDto_components_mainVisual": {
        "type": "object",
        "properties": {
          "derivatives": {
            "$ref": "#/components/schemas/DerivativesDto"
          },
          "itemType": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "sourceId": {
            "type": "string"
          },
          "typeAttributes": {
            "$ref": "#/components/schemas/MainContentTypeAttributesDto"
          },
          "type": {
            "type": "string"
          },
          "embedTypes": {
            "type": "string"
          }
        }
      },
      "TypeAttributesDto_components": {
        "type": "object",
        "properties": {
          "mainContent": {
            "$ref": "#/components/schemas/TypeAttributesDto_components_mainContent"
          },
          "mainVisual": {
            "$ref": "#/components/schemas/TypeAttributesDto_components_mainVisual"
          },
          "primary": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PrimaryDto"
            }
          }
        }
      },
      "DerivativesDto_size_16x9_620": {
        "type": "object",
        "properties": {
          "w": {
            "type": "integer"
          },
          "h": {
            "type": "integer"
          },
          "fileurl": {
            "type": "string"
          }
        }
      }
    }
  }
}
